/* colors */
$yellow: #ffcc00;
$grey: #888;
$tan: #dfded2;
$black: #000;
$white: #fff;
$dark_grey: lighten($black, 20);

html {
  background: $grey;
}

@mixin base_dark {
  color: $grey;
  background-color: $dark_grey;

  a, a:hover, a:visited {
    color: $yellow;
    text-decoration: none;

    &:hover { text-decoration: underline; }
    &:visited { }
  }
}

@mixin base_light {
  color: $dark_grey;
  background-color: $tan;

  a, a:hover, a:visited {
    color: $dark_grey;
    text-decoration: none;

    &:hover { text-decoration: underline; }
    &:visited { }
  }
}

