article {
  @include base_light;
  @extend .serif;

  padding: 50px 0px;

  > header {
    width: 65%;
    padding: 10px 0px 10px 0px;

    h1.entry-title {
      font-size: 4em;
      padding-bottom: 20px;

      a {
        &:hover { color: $white; text-decoration: none; }
        &:visited { }
      }
    }

    .meta {
    }
  }

  .entry-content {
    width: 40%;

    a {
      font-weight: bold;

      &:hover { text-decoration: underline; }
      &:visited { }
    }
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}
