body > footer {
  @include base_dark;
  @extend .sans;

  font-size: .8em;
  width: 100%;
  text-align: right;
  float:right;
  padding-top: 10px;
  padding-bottom: 10px;

  p:last-child { margin-bottom: 0; }
}
