body > top {
  @include base_dark;
  @extend .sans;

  width: 100%;
  height: auto;
  float: left;

  margin: 0px auto;
  padding: 5px 0px;
  color: $yellow;

  .left { float: left; padding-left: 2em; }
  .right { float: right; padding-right: 2em; }

  form {
    @include background-clip(padding-box);
    margin: 0; padding: 0;
    .search {
      padding: .3em .5em 0;
      font-size: .85em;
      @extend .sans;
      line-height: 1.1em;
      width: 200px;
      @include border-radius(.5em);
      @include background-clip(padding-box);
      background-color: lighten($black, 20);
      border: 1px solid $black;
      color: $grey;
      &:focus {
        background-color: lighten($black, 20);
        outline: none;
      }
    }
  }

  #navigation {
    @include base_dark;
    float: left;
    font-size: .8em;

    ul {
      list-style-type: none;
      letter-spacing: -1px;
      display: inline;
    }

    li {
      text-align: center;
      padding-right: 50px;
      float: left
    }
  }
}
