<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/coderay.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>

    <div class="header">
      <h2><a href='/'>tcopp</a></h2>
      <h3>every single vampire makes me want die</h3>
      <div class="social-bar">
        <div class="social-bar-buttons">
          <a href="http://facebook.com/jtcopple">
            <img src="/images/button_facebook.jpg" />
          </a>

          <a href="http://github.com/tcopple">
            <img src="/images/button_github.jpg" />
          </a>

          <a href="http://goodreads.com/user/show/7187649-tyler">
            <img src="/images/button_goodreads.jpg" />
          </a>

          <a href="http://twitter.com/tcopp">
            <img src="/images/button_twitter.jpg" />
          </a>

          <a href="http://lastfm.com/tcopp">
            <img src="/images/button_lastfm.jpg" />
          </a>

          <a href="http://feeds.feedburner.com/tcopp">
            <img src="/images/button_rss.jpg" />
          </a>
        </div>
        <hr />
      </div>
    </div>

    <div class="wrapper">
      {{ content }}
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22936300-2']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </body>
 </html>
